/* 기본 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "맑은 고딕",sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: top;
}
/* 헤더 */
header{
    background-color: yellow;
    height: 100px;
    width: 70%;
    margin: 0 auto;
}
/* 헤더 푸터 공통적용 */
.inner{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* 헤더 > 이너 */
.logo{
    width: 200px; height: 60px; background-color: yellow;
}
.nav{
    width: 800px; height: 100px; background-color: skyblue;
}
/* 메인 */
.main{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}
/* 슬라이드 애니메이션 */
.slideContent{
    background-color: greenyellow;
    height: 300px;
}
/* 공지사항 외.... */
.content{
    display: flex;
    height: 200px;
    background: green;
}

.c1{
    width: 33.33%;
    background-color: violet;
}

.c2 {
    width: 33.33%;
    background-color: pink;
}

.c3{
    width: 33.33%;
    background-color: aquamarine;
}

footer{
    background-color: yellow;
    height: 100px;
    width: 100%;
    margin: 0 auto;

}
/* 푸터 > 이너 */
a.footerLogo{
    width: 200px;
    height: 40px;
    background-color: lightgray;
    font-size: 0px;
    color: transparent;
}
footer .footerLogo img{
    display: block;
    width: 200px;
    height: 40px;
}
footer p {
    width: 70%;
    text-align: center;
}
.sns {
    display: flex;
    justify-content: space-between;
    width: 10%;
}
.sns li {
    display: inline-block; width: 24%;
}
.sns li img {
    width: 100%;
}