@charset "UTF-8";
/* 기본 */
*{
    margin: 0; padding: 0; box-sizing: border-box;
}
li{ 
    list-style: none;
}
a {
    text-decoration: none; color: inherit;
}
.wrap {
    width: 1000px; height: 650px; display: flex; position: relative;
}
img {vertical-align: top;}
/* 헤더 */
header {
    width: 200px; height: 650px; background-color: cornsilk; 
}
/* 로고 */
.logo{
    width: 200px;
    height: 60px;
    position: relative;
    
}
.logo a > h1 {
    position: absolute;
    text-align: center;
    font-size: 23px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
    color: orange; 
}
.nav{
    width: 200px;
    height: 590px;
    background-color: cornsilk;
}
/* 헤더 메뉴 */
header .nav {margin-top: 20px;}
header .nav > ul {width: 180px; padding-left: 14px;}
header .nav a {
    display: block;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid gold;
    border-left: none;
    border-right: none;
}

.submenu {
    display: none;
}
.submenu li a {background-color: yellowgreen;}
.menu:hover > a {color: #fff; background-color: violet;}
.submenu li:hover a {color: #fff; background-color: violet;}

/* 메인 */
.main {
    width: 800px; height: 650px; 
    
}
/* 메인 > 슬라이드 애니메이션 */
.slideContent{
    height: 350px; background-color: blueviolet;
}
.slide {
    height: 350px;
    position: relative;
    overflow: hidden;
}
.slide > img {
    position: absolute;
    top :0;
    left: -100%;
    opacity: 0;
}
.slide > img:first-child{
    left: 0;
    opacity: 1;
}

/* 메인 > 공지사항... */
.content {
    height: 200px;
    display: flex;
    background-color: #fff;
}
/* 콘텐츠1 */
.con1{
    width: 33.33%;
    
}
.tabs {display: flex; }
.tabs li{display: block; padding: 10px; height: 40px; background-color: #fff; font-weight: 600; font-size: large;}


.tab-news >*{background-color: #fff; height: 160px;}

.news li{display: flex;}
.news li a { 
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
    width: 200px;
}

.news li span {white-space: nowrap; margin: 10px;}
.news li:hover {text-decoration: underline;}
/* 콘텐츠2 */
.con2{
    width: 33.33%;
    background-color: #fff;
}

.tabs2 {display: flex;}
.tabs2 li a {display: block; padding: 10px; height: 40px; background-color: #fff; font-weight: 600;font-size: large;}

.gallery>* {height: 160px; padding: 10px; background-color: #fff;}
.gallery .news2 {display: flex; justify-content: center; gap: 5px; align-items: center;}

.con3{
    width: 33.33%;
    background-color: #fff;
    position: relative;
}
.banner a h2 {
    position: absolute;
    background-color: white;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.banner a img {
    display: inline-block;
    width: 100%;
    height: 200px;
}
#contentpop{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border: 1px solid black;
    background-color: #fff;
    display: none;
}
.contentpop p {
    padding: 30px 30px;
}
.exit {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
/* 메인 > 푸터 */
footer{
    display: flex;
    align-items: center;
    height: 100px;
}
footer p {
    width: 90%;
    text-align: center;
    background-color: #fff
}
.bottomRight {
    display: flex;
    flex-wrap: wrap;
    width: 180px; height: 100px;
}
.bottomRight >* {
    width: 100%;
    height: 50px;
    text-align: center;
}
.sns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;

}
.sns li {
    width: 16%;
}
.sns li img {
    width: 100%;
}
.sns, .familySite { line-height: 50px;}