/* 기본 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 1000px;
    height: 650px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
ul li {
    list-style: none;
}
img{
    vertical-align: top;
}
a {
    text-decoration: none; color: inherit;
}
/* 헤더 */
header{
    height: 650px;
    width: 200px;
}
/* 로고 */
.logo{
    width: 200px;
    height: 60px;
    background-color: brown;
}
.logo a img {
    display: inline-block;
    width: 100%;
    height: 60px;
}
/* 네비 */
.nav{
    width: 200px;
    height: 590px;
}
/* menu 메뉴 */
header .nav {
    margin-top: 20px;
}
header .nav > ul {
    width: 180px;
    padding-left: 14px;
}
header .nav a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
    border: 1px solid darkgoldenrod;
    border-left: none;
    border-right: none;
}
/* submenu */
.submenu {
    display: none;
}
.submenu li a {background-color: yellowgreen;}
.menu:hover > a {color: #fff; background-color: violet;}
.submenu li:hover a {color: #fff; background-color: violet;}
/* 메인 */
.main{
    width: 800px;
    height: 650px;
}
/* 슬라이드 이미지 */
.slideImg{
    width: 800px;
    height: 350px;
}
.slide {
    height: 350px;
    position: relative;
    overflow: hidden;
}
.slide > img {
    position: absolute;
    top :0;
    left: -100%;
    opacity: 0;
}
.slide > img:first-child{
    left: 0;
    opacity: 1;
}


/* 콘텐츠 */
.content{
    width: 800px;
    height: 200px;
    display: flex;
}
/* 공지사항 */
.con1{
    width: 33.33%;
}
.tabs {display: flex; }
.tabs li{display: block; padding: 10px; height: 40px; background-color: #fff; font-weight: 600; font-size: large;}


.tab-news >*{background-color: #fff; height: 160px;}

.news li{display: flex;}
.news li a { 
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
    width: 200px;
}

.news li span {white-space: nowrap; margin: 10px;}
.news li:hover {text-decoration: underline;}
/* 갤러리 */
.con2{
    width: 33.33%;
}
.tabs2 {display: flex;}
.tabs2 li a {display: block; padding: 10px; height: 40px; background-color: #fff; font-weight: 600;font-size: large;}

.gallery>* {height: 160px; padding: 10px; background-color: #fff;}
.gallery .news2 {display: flex; justify-content: center; gap: 5px; align-items: center;}
/* 공지사항 팝 */
#contentpop{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border: 1px solid black;
    background-color: #fff;
    display: none;
}
.contentpop p {
    padding: 30px 30px;
}
.exit {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
/* 바로가기 */
.con3{
    width: 33.33%;
    background-color: blue;
    position: relative;
}
.banner a h2 {
    position: absolute;
    background-color: white;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.banner a img {
    display: inline-block;
    width: 100%;
    height: 200px;
}
/* 푸터 */
footer{
    width: 800px;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
}
footer p {
    width: 90%;
    text-align: center;
}
.bottomRight {
    display: flex;
    flex-wrap: wrap;
    width: 180px; height: 100px;
}
.bottomRight >* {
    width: 100%;
    height: 50px;
    text-align: center;
}
/* sns */
.sns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;

}
.sns li {
    width: 16%;
}
.sns li img {
    width: 100%;
}
.sns, .familySite { line-height: 50px;}
